.root {
    main-color: rgb(237, 255, 242);
    -fx-background-color: main-color;
    -fx-background-image: url("../images/avocados.jpg"); /* Set image */
    -fx-background-size: stretch;
    -fx-background-repeat: round;

}

#navbar {
  -fx-background-color: #bee7a5;
}

#avolabel {
    -fx-font: bold 20px "Arial";
    -fx-text-fill: green;
}


.text-field {
    -fx-background-color: #d9ffe2;
    -fx-font: 20px "Arial";
    -fx-prompt-text-fill: gray; /* must not be same as background */
}

.date-picker .arrow-button {
    -fx-padding: 4;                 /* expand hit area */
    -fx-background-color: transparent;
}
.date-picker .arrow {
    -fx-shape: "M0,0 L0,4 L4,0 Z";  /* ensure icon fits hitbox */
}

Button {
    -fx-background-color: mediumspringgreen;
    -fx-font: italic bold 16px "Arial";
}

Button:hover {
    -fx-background-color:cyan;
    -fx-font-size: 18px;
}

Button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ff9cb4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

#dialogContainer {
    -fx-padding: 50 0 0 0;
}



