.menu-root {
    /* Base dark theme background */
    -fx-background-color: #2c3e50; /* dark blue/grey background */
    -fx-background-radius: 6;
}

.menu-root > Button {
    -fx-text-fill: white;
    -fx-background-color: transparent; /* removes default button bg */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 6 10;
    -fx-background-radius: 0; /* remove rounded corners */
    -fx-cursor: hand;
    -fx-border-color: transparent; /* remove border */
}

.menu-root > Button:hover {
    -fx-text-fill: #bee7a5;
}

.sublist Button {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 10 20; /* indent */
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.sublist Button:hover {
    -fx-text-fill: #bee7a5;
}
